.container {
  font: 14px/22px;
  padding: 40px 0;
  display: inline-flex;
  transition: 0.5s;
}

.details {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.detailsDiv {
  margin-right: 4rem;
  margin-left: 3rem;
  padding-right: 2.5rem;
  margin-top: 2rem;
  /* border: solid 1px black; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(28, 28, 28, 0.702);
  background-color: var(--primary);
}

.image {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

.image img {
  width: 30rem;
  height: 27rem;
  border-radius: 10px;
  background-color: var(--secondary);
  transition: 0.5s;
}
.name {
  line-height: 4rem;
  position: relative;
  display: contents;
  text-align: center;
  /* padding-bottom: 1rem; */
}

.name h1 {
  font-size: 2rem;
}

.temperament {
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 0.1rem;
  align-items: center;
  justify-content: center;
}

.temperament p {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: var(--accent);
  margin-left: 1.5rem;
  background-color: var(--secondary);
  border: solid 2px;
  border-color: var(--text-secondary);
  border-radius: 9999px;
  padding: 0.8rem;
}

.weight {
  padding: 0.8rem;
  background-color: var(--accent);
  border: solid 2px var(--text-secondary);
  text-align: center;
  border-radius: 0.75em;
  line-height: 0.5rem;
}

.weight label {
  font-weight: 500;
  font-size: 0.9rem;
}

.weight p {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.height {
  padding: 0.8rem;
  background-color: var(--accent);
  border: solid 2px var(--text-secondary);
  text-align: center;
  border-radius: 0.75em;
  line-height: 0.5rem;
}

.height label {
  font-weight: 500;
  font-size: 0.9rem;
}

.height p {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}
.lifespan {
  padding: 0.8rem;
  background-color: var(--accent);
  border: solid 2px var(--text-secondary);
  text-align: center;
  border-radius: 0.75em;
  line-height: 0.5rem;
}

.lifespan label {
  font-weight: 500;
  font-size: 0.9rem;
}

.lifespan p {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: 2rem;
}

.goBack button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--third);
}
