.wrapper {
  height: 90vh;
  width: 100%;
  background: url("img-3.jpg");
  background-size: 15rem;
  color: var(--text-primary);
  position: absolute;
}

.image1Div {
  /* width: 15rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 16rem !important;
}
.img1 {
  width: 11rem;
  height: 13rem;
  bottom: 0;
  position: absolute;
}

.img2 {
  width: 15rem;
  height: 15rem;
  margin-top: 32vh;
  position: fixed;
  bottom: 0;
}

.img4 {
  width: 15rem;
  height: 15rem;
  margin-top: 32vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: var(--background);
  background-color: var(--buttons);
  color: var(--text-primary);
  border: solid;
  border-color: transparent;
  border-radius: 9999px;
  height: 2.5rem;
  width: 7rem;
  cursor: pointer;

  /* margin-top: 7.5rem; */
}

a {
  text-decoration: none;
}

.button:hover {
  background-color: var(--accent);
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  background: var(--color);
}

.button:focus::before,
.button:hover::before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}

.button:focus::after,
.button:hover::after {
  animation: afterBorders var(--animation-speed) forwards ease-in-out;
}

.button:focus,
.button:hover {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.logo img {
  width: 17rem;
  height: 17rem;
  position: relative;
}

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
