.pages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  gap: 0.5rem;
}

.button {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: #a2d2ff;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-radius: 4px;
  border-color: transparent;
  background-color: #a2d2ff;
}

.buttonActive {
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-radius: 4px;
  border-color: #a2d2ff;
  background-color: var(--accent);
}
.button:hover {
  background-color: var(--accent);
}

.button::before {
  content: "";
  position: absolute;
  background: var(--color);
}

.button:focus::before,
.button:hover::before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}

.button:focus::after,
.button:hover::after {
  animation: afterBorders var(--animation-speed) forwards ease-in-out;
}

.button:hover {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}

@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
